<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
    <!-- Begin header -->
    <include src="../chunks/header-1.html"></include>
    <!-- End header -->
    <!-- Begin page body -->
    <div id="page-body" class="page-body home-page">

      <div class="home-wrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="title">Recent Searches</h2>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-7">
              <div class="recent-item">
                <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolores magnam perferendis! Assumenda explicabo ipsum itaque necessitatibus sit. Quibusdam, voluptatem.</a>
                <div class="type">
                  <svg class="icon icon-home">
                     <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  House
                </div>
                <div class="news">
                  <span>+5</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">Apartment for rent, 2 Bedrooms, Center, Sofia…</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  Apartment
                </div>
                <div class="news">
                  <span>+3</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">2 Bedroom, House, Loznets, Center..</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  House
                </div>
                <div class="news">
                  <span>+12</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">For Sail, 2 Bedroom, Loznets, Center..</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  House
                </div>
                <div class="news">
                  <span>+5</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">Apartment for rent, 2 Bedrooms, Center, Sofia…</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  Apartment
                </div>
                <div class="news">
                  <span>+3</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">2 Bedroom, House, Loznets, Center..</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  House
                </div>
                <div class="news">
                  <span>+12</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">For Sail, 2 Bedroom, Loznets, Center..</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  House
                </div>
                <div class="news">
                  <span>+5</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">Apartment for rent, 2 Bedrooms, Center, Sofia…</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  Apartment
                </div>
                <div class="news">
                  <span>+3</span>
                  new
                </div>
              </div>
              <div class="recent-item">
                <a href="#" class="name">2 Bedroom, House, Loznets, Center..</a>
                <div class="type">
                  <svg class="icon icon-home">
                    <use xlink:href="img/sprite.svg#home"></use>
                  </svg>
                  House
                </div>
                <div class="news">
                  <span>+12</span>
                  new
                </div>
              </div>
            </div>
            <div class="wrap-right col-lg-6 col-md-4 col-sm-5 ">
              <ul class="stat-list">
                <li>
                  <a href="#">
                    40 <span>Like</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    90 <span>Maybe</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    130 <span>Dislike</span>
                  </a>
                </li>
              </ul>
              <div class="text-center mod-listings-home js-slider-listings">
                <div class="el-listing">
                  <div class="mob-head">
                    <div class="sources">
                      <svg class="icon icon-atach">
                         <use xlink:href="img/sprite.svg#atach"></use>
                      </svg>
                      Ad Sources (3):
                    </div>
                    <ul class="list-source">
                      <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                      <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                      <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                    </ul>
                  </div>
                  <div class="listing-item">
                    <a href="imoti.net" class="label">imoti.net</a>
                    <div class="el-listing-slider js-img-listing-slide">
                      <img src="img/img-1.png" alt="img">
                      <img src="img/img-2.png" alt="img">
                      <img src="img/img-3.png" alt="img">
                    </div>
                    <a href="#" class="name">
                      Hotel Ambasador
                    </a>
                    <div class="address">Slobodskaya Street, Sofia</div>
                    <ul class="info">
                      <li class="square">
                        56 Sqmr
                      </li>
                      <li class="bed">
                        <svg class="icon icon-bed">
                           <use xlink:href="img/sprite.svg#bed"></use>
                        </svg>
                        2 <span>Bedrooms</span>
                      </li>
                      <li class="bath">
                        <svg class="icon icon-bath">
                           <use xlink:href="img/sprite.svg#bath"></use>
                        </svg>
                        1 <span>Bathroom</span>
                      </li>
                      <li class="parking">
                        <svg class="icon icon-car">
                           <use xlink:href="img/sprite.svg#car"></use>
                        </svg>
                        2 <span>Parking</span>
                      </li>
                    </ul>
                    <div class="square-mob">56 Sqmr</div>
                    <div class="type">Apartment</div>
                    <div class="prise">
                      $125 <span>per month</span>
                    </div>
                    <ul class="list-btn">
                      <li>
                        <a href="#">
                          <svg class="icon icon-like">
                            <use xlink:href="img/sprite.svg#like"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>
                            maybe
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="icon icon-cansel">
                            <use xlink:href="img/sprite.svg#cansel"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="el-listing">
                  <div class="mob-head">
                    <div class="sources">
                      <svg class="icon icon-atach">
                        <use xlink:href="img/sprite.svg#atach"></use>
                      </svg>
                      Ad Sources (3):
                    </div>
                    <ul class="list-source">
                      <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                      <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                      <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                    </ul>
                  </div>
                  <div class="listing-item">
                    <a href="imot.bg" class="label">imot.bg</a>
                    <div class="el-listing-slider js-img-listing-slide">
                      <img src="img/img-2.png" alt="img">
                      <img src="img/img-1.png" alt="img">
                      <img src="img/img-3.png" alt="img">
                    </div>
                    <a href="#" class="name">
                      Hotel Ambasador
                    </a>
                    <div class="address">Slobodskaya Street, Sofia</div>
                    <ul class="info">
                      <li class="square">
                        56 Sqmr
                      </li>
                      <li class="bed">
                        <svg class="icon icon-bed">
                          <use xlink:href="img/sprite.svg#bed"></use>
                        </svg>
                        2 <span>Bedrooms</span>
                      </li>
                      <li class="bath">
                        <svg class="icon icon-bath">
                          <use xlink:href="img/sprite.svg#bath"></use>
                        </svg>
                        1 <span>Bathroom</span>
                      </li>
                      <li class="parking">
                        <svg class="icon icon-car">
                          <use xlink:href="img/sprite.svg#car"></use>
                        </svg>
                        2 <span>Parking</span>
                      </li>
                    </ul>
                    <div class="square-mob">56 Sqmr</div>
                    <div class="type">Apartment</div>
                    <div class="prise">
                      $100 <span>per month</span>
                    </div>
                    <ul class="list-btn">
                      <li>
                        <a href="#">
                          <svg class="icon icon-like">
                            <use xlink:href="img/sprite.svg#like"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>
                            maybe
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="icon icon-cansel">
                            <use xlink:href="img/sprite.svg#cansel"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="el-listing">
                  <div class="mob-head">
                    <div class="sources">
                      <svg class="icon icon-atach">
                        <use xlink:href="img/sprite.svg#atach"></use>
                      </svg>
                      Ad Sources (3):
                    </div>
                    <ul class="list-source">
                      <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                      <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                      <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                    </ul>
                  </div>
                  <div class="listing-item">
                    <a href="imot.bg" class="label">imot.bg</a>
                    <div class="el-listing-slider js-img-listing-slide">
                      <img src="img/img-3.png" alt="img">
                      <img src="img/img-2.png" alt="img">
                      <img src="img/img-1.png" alt="img">
                    </div>
                    <a href="#" class="name">
                      Hotel Ambasador
                    </a>
                    <div class="address">Slobodskaya Street, Sofia</div>
                    <ul class="info">
                      <li class="square">
                        56 Sqmr
                      </li>
                      <li class="bed">
                        <svg class="icon icon-bed">
                          <use xlink:href="img/sprite.svg#bed"></use>
                        </svg>
                        2 <span>Bedrooms</span>
                      </li>
                      <li class="bath">
                        <svg class="icon icon-bath">
                          <use xlink:href="img/sprite.svg#bath"></use>
                        </svg>
                        1 <span>Bathroom</span>
                      </li>
                      <li class="parking">
                        <svg class="icon icon-car">
                          <use xlink:href="img/sprite.svg#car"></use>
                        </svg>
                        2 <span>Parking</span>
                      </li>
                    </ul>
                    <div class="square-mob">56 Sqmr</div>
                    <div class="type">Apartment</div>
                    <div class="prise">
                      $100 <span>per month</span>
                    </div>
                    <ul class="list-btn">
                      <li>
                        <a href="#">
                          <svg class="icon icon-like">
                            <use xlink:href="img/sprite.svg#like"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>
                            maybe
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="icon icon-cansel">
                            <use xlink:href="img/sprite.svg#cansel"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="el-listing">
                  <div class="mob-head">
                    <div class="sources">
                      <svg class="icon icon-atach">
                        <use xlink:href="img/sprite.svg#atach"></use>
                      </svg>
                      Ad Sources (3):
                    </div>
                    <ul class="list-source">
                      <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                      <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                      <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                    </ul>
                  </div>
                  <div class="listing-item">
                    <a href="imoti.net" class="label">imoti.net</a>
                    <div class="el-listing-slider js-img-listing-slide">
                      <img src="img/img-1.png" alt="img">
                      <img src="img/img-2.png" alt="img">
                      <img src="img/img-3.png" alt="img">
                    </div>
                    <a href="#" class="name">
                      Hotel Ambasador
                    </a>
                    <div class="address">Slobodskaya Street, Sofia</div>
                    <ul class="info">
                      <li class="square">
                        56 Sqmr
                      </li>
                      <li class="bed">
                        <svg class="icon icon-bed">
                          <use xlink:href="img/sprite.svg#bed"></use>
                        </svg>
                        2 <span>Bedrooms</span>
                      </li>
                      <li class="bath">
                        <svg class="icon icon-bath">
                          <use xlink:href="img/sprite.svg#bath"></use>
                        </svg>
                        1 <span>Bathroom</span>
                      </li>
                      <li class="parking">
                        <svg class="icon icon-car">
                          <use xlink:href="img/sprite.svg#car"></use>
                        </svg>
                        2 <span>Parking</span>
                      </li>
                    </ul>
                    <div class="square-mob">56 Sqmr</div>
                    <div class="type">Apartment</div>
                    <div class="prise">
                      $125 <span>per month</span>
                    </div>
                    <ul class="list-btn">
                      <li>
                        <a href="#">
                          <svg class="icon icon-like">
                            <use xlink:href="img/sprite.svg#like"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>
                            maybe
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="icon icon-cansel">
                            <use xlink:href="img/sprite.svg#cansel"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End page body -->
    <!-- Begin footer -->

    <!-- End footer -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
