<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->
    <!-- Begin page body -->
    <div id="page-body" class="page-body mod-login">
      <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
        <source src="https://www.w3schools.com/html/mov_bbb.webm" type="video/webm">
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
      </video>
      <div class="wrap-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center">Finding your next
                home,&nbsp;office or investment
                has never been easier.</h1>
              <p class="text-center">No sign up needed!</p>
              <div class="text-center">
                <a class="el-btn" href="#">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End page body -->
    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
