<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
    <!-- Begin header -->
    <include src="../chunks/header-1.html"></include>
    <!-- End header -->
    <!-- Begin page body -->
    <div id="page-body" class="page-body listing-page">
      <div class="title-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              Apartment 2 Bedrooms for Rent, Sofia
            </div>
          </div>
        </div>
      </div>
      <div class="listing-wrap">
        <div class="btn-show-map">
          <svg class="icon icon-local">
             <use xlink:href="img/sprite.svg#local"></use>
          </svg>
        </div>
        <div class="container">
          <div class="row">
            <div class="text-center clear js-slider-listings slider-listings">
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                       <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imoti.net" class="label">imoti.net</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                         <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                         <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                         <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $125 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-3.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imoti.net" class="label">imoti.net</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $125 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-3.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imoti.net" class="label">imoti.net</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $125 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-3.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imoti.net" class="label">imoti.net</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $125 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                    <img src="img/img-3.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="el-listing">
                <div class="mob-head">
                  <div class="sources">
                    <svg class="icon icon-atach">
                      <use xlink:href="img/sprite.svg#atach"></use>
                    </svg>
                    Ad Sources (3):
                  </div>
                  <ul class="list-source">
                    <li><a href="#"><img src="img/sours-1.png" alt="img">imot.bg</a></li>
                    <li><a href="#"><img src="img/sours-2.png" alt="img">imoti.net</a></li>
                    <li><a href="#"><img src="img/sours-3.png" alt="img">something.bg</a></li>
                  </ul>
                </div>
                <div class="listing-item">
                  <a href="imot.bg" class="label">imot.bg</a>
                  <div class="el-listing-slider js-img-listing-slide">
                    <img src="img/img-3.png" alt="img">
                    <img src="img/img-2.png" alt="img">
                    <img src="img/img-1.png" alt="img">
                  </div>
                  <a href="#" class="name">
                    Hotel Ambasador
                  </a>
                  <div class="address">Slobodskaya Street, Sofia</div>
                  <ul class="info">
                    <li class="square">
                      56 Sqmr
                    </li>
                    <li class="bed">
                      <svg class="icon icon-bed">
                        <use xlink:href="img/sprite.svg#bed"></use>
                      </svg>
                      2 <span>Bedrooms</span>
                    </li>
                    <li class="bath">
                      <svg class="icon icon-bath">
                        <use xlink:href="img/sprite.svg#bath"></use>
                      </svg>
                      1 <span>Bathroom</span>
                    </li>
                    <li class="parking">
                      <svg class="icon icon-car">
                        <use xlink:href="img/sprite.svg#car"></use>
                      </svg>
                      2 <span>Parking</span>
                    </li>
                  </ul>
                  <div class="square-mob">56 Sqmr</div>
                  <div class="type">Apartment</div>
                  <div class="prise">
                    $100 <span>per month</span>
                  </div>
                  <ul class="list-btn">
                    <li>
                      <a href="#">
                        <svg class="icon icon-like">
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>
                          maybe
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="icon icon-cansel">
                          <use xlink:href="img/sprite.svg#cansel"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End page body -->
    <!-- Begin footer -->

    <!-- End footer -->
  </div>
  <div class="map-wrap">
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
